.gradient-background {
    background: linear-gradient(300deg, #00c2cb, #f9d29d, #e4b283);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

#fancy_font{
    font-family: "Hurricane", cursive;
    font-weight: 400;
    font-style: normal;
    color: aliceblue;
    font-size: 100px;
}

.btn-custom-blue {
    background-color: #78B9B5; /* Tailwind blue-500 */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
}